.container-base{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu__item_invisible{
  visibility: hidden;
}

.field{
  text-align: center;  
  margin: auto;
}

.field__game-token{
  text-align: center;
  padding-bottom: 10pt;
}

.score-field{
  text-align: center;
  margin: auto;
}

.field-table{
  border-width: medium;
  width: 27vw;
  height: 27vw;  
}

.field-table__cell{
  text-align: center;
  vertical-align: middle;
  height: 9vw;
  width: 9vw;
  font-size: 400%;
}

.points__elem{
  font-size: 30pt;
}
 
.points div{
  display: inline;
  text-align: center;
}

.points__elem_first-player-name, .points__elem_second-player-name{
  font-size: 20pt;
  padding: 3pt;
}

.points__elem_first-player-points, .points__elem_second-player-points{
  font-style: italic;
  margin: 10pt;
}